.my-list {
    list-style-type: none;
    padding: 0;
}

.my-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}
.csv-table-out{
    width: 60%;
    position: absolute;
    right: 5%;
    top : -30px;
    height: 10%;
  }
  .tbl-content-out{
    height:100px;
    margin-top: 0px;
    margin-bottom: 100px;
    border: 1px solid rgba(255,255,255,0.3);
  }
.predict-button{
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 30px;
}
.my-list li:hover {
    background-color: #e0e0e0;
}
.noselect {
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none;
  }
  .scrollable-content {
    max-height: 300px;
    overflow-y: auto; /* Yüksekliği aştığında yatay kaydırma çubuğunu göster */
}