.card {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
  }
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .card-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .card-key {
    flex: 1;
  }
  
  .card-value {
    flex: 2;
    text-align: right;
    border: 0.1px solid #776BCC;
    background: transparent;
    font-weight: bold;
  }
  .profile_icon{
    margin-left: 10px;
  }
  .profile_icon:hover{
    cursor: pointer;
  }
  .save_button{
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
  }
  .custom-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out;
  }
  .custom-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: none;
    width: 400px;
    border-radius: 10px;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .custom-modal.ReactModal__Content--after-open {
    opacity: 1;
  }
  
  .custom-modal.ReactModal__Content--before-close {
    opacity: 0;
  }
  .modal-input{
    width: 60%;
    margin: 10px;
    border: 1px solid black;
  }
  .alert-card {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: red;
    color: white;
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 30px;
  }